/* ADD YOUR STYLES HERE */
.center-horizontally {
	text-align: center;

}	

.spacing-between-items {
	margin-right: 15px;
}
/*.align-along-top {*/
	/*text-align: top
}*/
.make-a-row {
	 display: -webkit-flex; 
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}


.center-vertically {
	vertical-align: middle;

}

.line-height-for-vertical-center {
	line-height: 300px;

}
.spacing-between-items2 {
	padding-right: 40px;
}

.list-look {
	list-style-type: none
}
/* Buttons */

.daddy-button {
	display: inline-block;
	height: 60px;
	width: 200px;
	margin: 20px auto;
	/*padding: 50px*/
	background-color: salmon;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	font-size: 20px;
	padding-top: 25px;
	padding-left: 100px;

} 

.mama-button {
	display: inline-block;
	height: 30px;
	width: 200px;
	margin: 20px auto;
	background-color: salmon;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	font-size: 15px;
	padding-top: 10px;
	padding-left: 100px;
}

.baby-button {
	display: inline-block;
	height: 20px;
	width: 30px;
	margin: 20px auto;
	background-color: salmon;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	font-size: 15px;
	/*padding-top: 10px;
	padding-left: 20px;*/

}








	